<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="dev_flow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="dev_flow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <dev_flow.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>DarkTheme</value>
            </setting>
            <setting name="Favourites" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultExportLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="CodeEditorValue" serializeAs="String">
                <value>██████  ███████ ██    ██ ███████ ██       ██████  ██     ██\n██   ██ ██      ██    ██ ██      ██      ██    ██ ██     ██\n██   ██ █████   ██    ██ █████   ██      ██    ██ ██  █  ██\n██   ██ ██       ██  ██  ██      ██      ██    ██ ██ ███ ██\n██████  ███████   ████   ██      ███████  ██████   ███ ███  \n                                                             \n\nBegin Coding Here!\n\n - Change language syntax in the top right.\n\n - Open files within the editor. \n\n - Save files locally or save to your device.</value>
            </setting>
            <setting name="CodeEditorLanguage" serializeAs="String">
                <value>csharp</value>
            </setting>
        </dev_flow.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <dev_flow.Properties.Settings>
            <setting name="WorkspacePath" serializeAs="String">
                <value />
            </setting>
        </dev_flow.Properties.Settings>
    </applicationSettings>
    <connectionStrings />
</configuration>